html, body { margin: 0; }

.formelement {
    position: relative;
}

.imageCSS {
    width: 20rem;
}

.profilepic {
    height: 3rem;

}

.postcontainer {
    display: block;
}
.postusername {
    display: inline;
}
.posttitle {
    display: inline;
}

.interactbutton {
    font-size: 1.5rem;
}

.profilepiccont {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
}

.searchcontainer {
    /* width: 80%; */
    /* justify-self: center; */
    background-color: rebeccapurple;
    margin: auto;
}

.searchinput {
    width: 100%;
    box-sizing: border-box;
}

.navcontainer {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    font-size: 2rem;
    padding-top: 2rem;
}

.itemcontainer {
    border: 2px solid black;
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.6rem;
}

.app {
    display: flex;
    flex-direction: row;
    column-gap: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.content {
    flex-grow: 1;
    height: 100%;
    background-color: hsl(0, 0%, 95%);
    overflow-y: scroll;
}

.sidebar {
    left: 0;
    top: 0;
    height: 100%;
    background-color: antiquewhite;
    width: 17rem;
}

.logo {
    width: 3rem;
    aspect-ratio: 1;
    /* background-color: blueviolet; */
    background-image: linear-gradient(45deg, hsl(215, 60%, 50%), hsl(306, 40%, 50%));
    border-radius: 25%;
    margin-bottom: 2rem;
}