html, body { margin: 0; }

body {
    background-color: hsl(0, 0%, 96%);
    /* overscroll-behavior: none; */
}

html, body {
    height: 100dvh;
    overflow: hidden;
}


.formelement {
    position: relative;
}

.imageCSS {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    object-fit: contain;
}

.imageexpander {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 34rem;
    display: inline;
    flex-shrink: 0;
}

.profilepic {
    height: 3rem;
}

.postcontainer {
    display: block;
    width: 65%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.8rem;
    /* From https://css.glass */
    background: hsl(0, 0%, 100%);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.postusername a {
    display: inline;
    padding: 0rem;
    /* margin: 0.1rem; */
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}
.postusername:visited {
    color: black;
    text-decoration: none;
}

.posttitle {
    display: inline;
}

.interactbutton {
    font-size: 1.5rem;
}

.profilepiccont {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    aspect-ratio: 1;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    flex-shrink: 0;
}

.messageheaderpfpcontainer {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
}

.largeprofile {
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
}
.largeprofilepic {
    height: 10rem;
}

.picborder{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchcontainer {
    /* width: 80%; */
    /* justify-self: center; */
    background-color: rebeccapurple;
    margin: auto;
}

.searchinput {
    width: 100%;
    box-sizing: border-box;
}

.navcontainer {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    font-size: 2rem;
    padding-top: 2rem;
}

.itemcontainer {
    border: 2px solid black;
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.6rem;
}

.app {
    display: flex;
    flex-direction: row;
    column-gap: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    box-sizing: border-box;
    position: relative;
}

.content {
    position: relative;
    flex-grow: 1;
    height: 100%;
    padding: 2rem;
    overflow: scroll;
}

.sidebar {
    left: 0;
    top: 0;
    height: 100%;
    /* From https://css.glass */
    background: #ECEEDF;
    border-right: 2px solid rgba(79, 79, 79, 0.128);
    width: 17rem;
}

.logo {
    width: 3rem;
    aspect-ratio: 1;
    background-image: linear-gradient(45deg, hsl(215, 60%, 50%), hsl(306, 40%, 50%));
    border-radius: 25%;
    margin-bottom: 2rem;
}

.pagetitle {
    margin-top: 0rem;
}

.titlecontainer {
    align-items: center;
    display: flex;
    column-gap: 1rem;
}

.profiletitlecontainer {
    align-items: center;
    display: flex;
    column-gap: 1rem;
    margin-top: 3rem;
}

.profiletitle {
    display: flex;
    flex-direction: column;
    row-gap: 0rem;
    height: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0.6rem;
}
.profiletitle h2 {
    font-size: 2rem;
    margin: 0;
}
.profiletitle p {
    margin: 0;
}

.usernamedate {
    display: flex;
    flex-direction: column;
    row-gap: 0rem;
}
.usernamedate h2 {
    margin: 0;
}
.usernamedate p {
    padding: 0rem;
    margin: 0rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: hsl(0, 0%, 40%);
}

.carousel {
    /* position: relative; */
    transition-duration: 0.5s;
    transition-timing-function: ease;
    height: 30rem;
    display: flex;
    /* align-items: center; */
}

.stencel {
    max-width: 34rem;
    overflow-x: scroll; 
    overflow-y: hidden;
}

.banner {
    width: 100%;
    background-color: aquamarine;
    z-index: -1;
    height: 7.5rem;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
}

.banner img {
    width: 100%;
    height: 30rem;
    transform: translate(0%, -30%);
}

.titleinline {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.titleinline  > * {
    display: inline;
}

.defaultpfp {
    width: 9rem;
    height: 9rem;
}

.profilebutton {
    font-size: 1rem;
    padding: 0.4rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border-radius: 0.4rem;
    border-width: 0px;
    font-weight: 550;
    color: white;
    border-color: blueviolet;
}

.scrollbutton {
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    background: rgba(95, 95, 95, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.247);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.leftbutton {
    left: 0.2rem;
}
.rightbutton {
    right: 0.2rem;
}

.rootmessagecontainer {
    position: absolute;
    display: grid;
    width: 100%;
    height: 100vh;
    margin: 0;
    left: 0;
    top: 0;
    grid-template-columns: 18rem 1fr;
}

.messagesidebar {
    position: relative;
    background-color: hsl(0, 82%, 47%);
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
    display: grid;
    grid-template-rows: 8rem 1fr;
}

.messagetopbar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    box-sizing: border-box;
    border: 2px solid rgba(79, 79, 79, 0.128);
    border-left: 0px;
}
.messagetopbar p {
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;
}
.messagetopbar input {
    margin: 0;
    width: 100%;
    height: 1.9rem;
    border-radius: 1.9rem;
    font-size: 1rem;
    outline: 2px solid hsl(0, 0%, 93%);
    box-sizing: border-box;
    padding: 0.5rem;
    border: 0;
    padding-left: 1.7rem;
}

.messagesearchcontainer {
    margin: 0;
    margin-top: 1.2rem;
    height: max-content;
    width: 100%;
    position: relative;
    padding: 0;
}

.searchsvg {
    position: absolute;
    transform: translate(0%, -50%);
    top: 48%;
    left: 4px;
    fill: hsla(0, 0%, 65%);
}

.messagecardlist {
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 100%;
    border: 2px solid rgba(79, 79, 79, 0.128);
    border-left: 0px;
    border-top: 0px;
    box-sizing: border-box;
    overflow: scroll;
}

.mainmessage {
    width: 100%;
    height: 100dvh;
    position: relative;
    display: grid;
    grid-template-rows: 4rem 1fr auto;
}  

.messageheader {
    width: 100%;
    height: 4rem;
    background-color: #BBDCE5;
    display: flex;
    align-items: center;
    padding: 0.8rem;
    box-sizing: border-box;
}   
.messageheader p {
    font-family: Arial, Helvetica, sans-serif;
}

.messageusernamestatus {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1rem;
}

.messageusernamestatus p {
    font-size: 0.8rem;
    margin: 0rem;
    color: hsl(0,0%,30%);
}

.messageusernamestatus h1 {
    font-size: 1.2rem;
    margin: 0;
}

.toolbar {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: blueviolet; */
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

.sendmessage {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 2.4rem;
    border-width: 1px;
    border: 2px solid rgba(79, 79, 79, 0.128);
    box-sizing: border-box;
    padding: 1.0rem 9rem 0.2rem 1.4rem;
    /* padding-top: 0.9rem; */
    font-size: 1.2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.134);
    transition: ease 0.3s;
    display: block;
}
.sendmessage:focus {
    border: 2px solid rgba(157, 157, 157, 0.716);
    outline: 0px;
    box-shadow: 0 4px 20px rgba(128, 54, 134, 0.247);
}
.sendmessage:hover {
    box-shadow: 0 4px 20px rgba(128, 54, 134, 0.247);
}

.toolbarbutton {
    background-color: hsl(0, 0%, 97%);
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-width: 1px;
    border: 1px solid hsl(0, 0%, 80%);
    box-sizing: border-box;
}

.toolbarbuttoncontainer {
    display: flex;
    flex-direction: row;
    column-gap: 0.3rem;
    z-index: 2;
    position: absolute;
    /* transform: translate(0%, -50%); */
    bottom: 1.9rem;
    right: 2rem;

}

.defaultmessage {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    max-width: 25rem;
}

.ownmessage {
    background-color: hsl(329, 58%, 68%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    align-self: flex-end;
    color: white;
}

.notownmessage {
    background-color: hsl(0, 0%, 87%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    align-self: flex-start;
}

.messagedisplay {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1.8rem;
    flex-direction: column;
    box-sizing: border-box;
    row-gap: 1rem;
    overflow-y: scroll;
}

.messagecardcontainer {
    width: 100%;
    height: 4.5rem;
    /* background-color: red; */
    display: flex;
    box-sizing: border-box;
    padding: 0.5rem;
    padding-left: 1rem;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.4rem;
    border-bottom: 1px solid hsl(0, 0%, 93%);
    position: relative;
}

.messagecardcontainer .profilepiccont {
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
}

.messagecardinfo {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    row-gap: 0.1rem;
    overflow: hidden;
    width: 100%;
}
.messagecardinfo h2 {
    margin: 0;
}

.messagecardtitle {
    font-size: 1.1rem;
}

.messagecardmessage {
    font-size: 0.7rem;
    color: hsl(0, 0%, 30%);
    font-weight: 200;
    overflow: hidden;
    inline-size: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.emptymessagecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.emptymessagecontainer h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 50%);
    font-size: 1rem;
}

.notification {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background-color: hsl(270, 59%, 56%);
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.4rem;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}