.formelement {
    position: relative;
}

.imageCSS {
    width: 20rem;
}

.postcontainer {
    display: block;
}
.postusername {
    display: inline;
}
.posttitle {
    display: inline;
}

.interactbutton {
    font-size: 1.5rem;
}

