.formelement {
    position: relative;
}

.imageCSS {
    width: 20rem;
}

.profilepic {
    height: 3rem;

}

.postcontainer {
    display: block;
}
.postusername {
    display: inline;
}
.posttitle {
    display: inline;
}

.interactbutton {
    font-size: 1.5rem;
}

.profilepiccont {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
